---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "top, rgba(255,255,255,0) 30%, rgba(255,255,255,0.3) 100%"
  overlay_image: default_image.jpg
  cta_label: "Explore APIs"
  cta_url: "/apis/"
excerpt: "Crafting premium content on TV, Web and beyond.
Learn more about our work, check our open positions and play with our APIs (coming soon)."
feature_row:
  - icon: github
    title: "Open Source Software"
    excerpt: "We believe Open Source is the way to go. Check out our projects on GitHub. "
    url: "https://github.com/canalplus"
    btn_label: "@canalplus"
    btn_class: "btn--inverse"
  - icon: newspaper-o
    title: "Read the blog"
    excerpt: "Technical articles, reviews, tips and tutorials from our teams."
    url: "http://medium.com/canal-tech"
    btn_label: "Medium"
    btn_class: "btn--inverse"
  - icon: twitter
    title: "Find us on Twitter"
    excerpt: "Announcements, events, curation from developers & engineers at CANAL+"
    url: "https://twitter.com/canaltechteam"
    btn_label: "@CANALTechTeam"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
